.App {
  text-align: center;
}

.app-container {

  text-align: center;

}
.app2 {

  font-weight: bold;

}

.todo-list-cont {
  text-align: center;
}

.todo-empty-indicator { color: grey; font-weight:bold; }